/* div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


div .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(197, 72, 27);
    width: 200px;
    height: 200px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
} */